@import 'colors';
.hero{
    &__contact {
        background: url("../assets/hero-bright.jpg") no-repeat center center;
        max-width: 100%;
        background-size: cover;
        min-height: 30em;
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: 50px;
    }
    &__menu {
        grid-column-start: 3;
        justify-self: end;
        margin: 1rem;
    }
    &__title {
        &--contact {
            color: $font-green;
        }
    }
}