@import 'colors';
.footer {
    background: rgb(22,23,21);
    background: linear-gradient(rgba(22,23,21,1) 1%, rgba(187,187,173,1) 30%, rgba(222,222,221,1) 35%); 
    padding: 2rem 1rem .5rem;
    color: $background-dark;
    &__contact {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 2rem 0 0;
        list-style-type: none;
        text-align: center;
        &--phone img {
            vertical-align: middle;
            padding: .5rem;
        }
        &--email img {
            padding: .5rem;
            vertical-align: middle;
        }
    }
    &__icons {
        display: flex;
        justify-content: center;
    }
    &__window-icons {
        margin: 2rem;
    }
    &__list {
        font-size: .9rem;
        display: flex;
        flex-direction: column;
        flex-flow: wrap;
        justify-content: space-around;
        list-style-type: none;
        padding: 0;
        margin: 0;
        &--item {
            align-items: center;
            padding: 1rem 1rem .5rem;
        }
    }

    &__author {
        font-size: .7rem;
        margin: 1rem 0 0;
        padding: 0;
    }
}