.nav {
    &__element {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    &__header {
        font-size: 1.5rem;
        text-align: center;
    }
    &__content {
        text-align: center;
    }
    &__quote {
        background-color: lightseagreen;
    }
    &__contact {
        background-color: lightsteelblue;
    }
}