@import "colors";
@import "media";
.nav {
    &__element {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
        margin: 1rem;
    }
    &__header {
        font-size: 1.5rem;
        text-align: center;
        margin: 2rem;
    }
    &__content {
        text-align: center;
    }
}
.page-update {
    font-size: 0.7rem;
    color: $font-green;
    text-align: center;
}
.top-nav {
    display: none;
    @media (min-width: $tablet) {
        background-color: blue;
        display: block;
        &__list {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            align-items: center;
            justify-items: center;
            grid-template-rows: 8rem;
            list-style-type: none;
            margin: 0;
            padding: 0;
            &--item {
                background-color: greenyellow;
            }
        }
    }
}
