@import 'colors';

.hero{
    &__quote {
        background-image: url("../assets/hero-quote.jpg");
        background-size: cover;
        resize: both;
        min-height: 20em;
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: 50px;
    }
    &__menu {
        grid-column-start: 3;
        justify-self: end;
        margin: 1rem;
    }
    &__title {
        &--contact {
            color: $font-green;
        }
    }
}
.quote {
    &__header {
        text-align: center;
        font-size: 1.5rem;
    }
}
label {
    text-align: left;
    color: $gold;
    font-weight: bold;
}
.form {
    padding: 3rem;
    list-style-type: none;
    font-size: .875rem;
}