@import "colors";
@import "media";
.sections {
    max-width: 1024px;
    margin: 0 auto;
    &__element {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 1rem;
    }
    &__header {
        font-size: 1.5rem;
        text-align: center;
        margin: 2rem;
    }
    &__content {
        text-align: justify;
        font-weight: 300;
        font-size: 1.25rem;
        line-height: 2.25rem;
        padding: 2rem;
    }
}
.page-update {
    font-size: 0.7rem;
    color: $font-green;
    text-align: center;
}
.top-nav {
    display: none;
    @media (min-width: $tablet) {
        display: block;
        max-width: 1024px;
        margin: 0 auto;
        &__list {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
            align-items: center;
            justify-items: center;
            grid-template-rows: 8rem;
            list-style-type: none;
            margin: 0;
            padding: 0;
        }
    }
}
