@import "colors";
@import "media";

@mixin burger-line {
    width: 64px;
    height: 6px;
    background-color: $icon-white;
    border-radius: 4px;
    position: absolute;
}

.sections {
    max-width: 1024px;
    margin: 0 auto;
    &__element {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 1rem;
    }
    &__header {
        font-size: 1.5rem;
        text-align: center;
        margin: 2rem;
    }
    &__content {
        text-align: justify;
        padding: 1rem;
        line-height: 1.5rem;
        @media (min-width: $tablet) {
            font-weight: 300;
            font-size: 1.25rem;
            line-height: 2.25rem;
        }
    }
}
.page-update {
    font-size: 0.7rem;
    color: $font-green;
    text-align: center;
}
.top-nav {
    display: none;
    @media (min-width: $tablet) {
        display: block;
        max-width: 1024px;
        margin: 0 auto;
        &__list {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
            align-items: center;
            justify-items: center;
            grid-template-rows: 8rem;
            list-style-type: none;
            margin: 0;
            padding: 0;
        }
    }
}
.burger {
  
    cursor: pointer;
    right: 2rem;
    border: 0;
    background: transparent;
}
.burger__box {
    height: 128px;
    width: 128px;
    display: inline-block;
    position: relative;
}

.burger__inner {
    @include burger-line;

    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
.burger__inner::before,
.burger__inner::after {
    @include burger-line;

    content: '';
    left: 0;
}
.burger__inner::before {
    top: 1rem;
}
.burger__inner::after {
    top: -1rem;
}
.burger--active .burger__inner {
    background: transparent;
}
.burger--active .burger__inner::before {
    transform: translate(16px, -16px) rotate(45deg);
}
.burger--active .burger__inner::after {
    transform: translate(16px, 16px) rotate(-45deg);
}
