@import 'colors';
@import 'media';
.sections__services {
    &--list {
        @media (min-width:$tablet) {
            columns: 2 100px;
        }
        // Use before when assets uploaded to server. In browser sows that cannot find in 127.0.0.1:8000
        &-item {
            padding: .5rem;
            line-height: 1.25rem;
            &::marker {
                content: '⦿';
                color: $gold;
            }
        }
    }
}