@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap");
.hero {
  background: url("../assets/hero-dark.jpg") no-repeat center center;
  max-width: 100%;
  background-size: cover;
  min-height: 30em;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: Ubuntu;
  color: #858A88;
}
