.nav__about {
  background-color: lightgreen;
}

.nav__about--header {
  font-size: 1.5rem;
}

.nav__services {
  background-color: lightpink;
}

.nav__quote {
  background-color: lightseagreen;
}

.nav__contact {
  background-color: lightsteelblue;
}
