@import  'modules/colors';
@import '_normalize';
@import  'modules/hero';
@import 'modules/details';
@import 'modules/nav';
@import 'modules/services';
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap');

html {
    box-sizing: border-box;
    font-size: 16px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: Ubuntu;
    color: $font-gray;
}

a {
    text-decoration: none;
    outline: none;
}
a:link {
    color: inherit;
}
a:visited {
    color: $font-gray;
}

a:focus {
    border-bottom: 2px solid $gold;
}

a:hover {
    color: $dark-backgrd;
}

a:active {
    border-bottom: 2px solid $gold;
    border-radius: 4px;
}