.nav {
    &__header {
        font-size: 1.5rem;
    }
    &__about {
        background-color: lightgreen;
    }
    &__services {
        background-color: lightpink;
    }
    &__quote {
        background-color: lightseagreen;
    }
    &__contact {
        background-color: lightsteelblue;
    }
}