{% extends 'pages/page.html' %}
{% load static %}

{% block title %}
Contact me
{% endblock title %}

{% block hero %}
<section class="hero__contact">
    <header class="hero__title"><p class="hero__title--contact">Windows Cleaning</p></header>
    <div class="hero__menu">
        <img src="{% static 'assets/windows.svg' %}" class="hero__image" alt="menu." srcset="">
    </div>    
</section>
{% endblock hero %}



{% block content %}
{% if submitted %}
<p class="success">
    Your message was submited successfully. <br>Thank you
</p>
{% else %}
<form class="form" action="" method="post" novalidate>
    {{ form.as_ul }}
    <p class="submit-button"><input class="submit-input" type="submit" value="Submit"></p>
    {% csrf_token %}
</form>
{% endif %}
{% endblock content %}