{% extends 'base.html' %}
{% load static %}

{% block title %}
Contact me
{% endblock title %}

{% block hero %}
    <div class="hero__contact">
        <header class="hero__title">
            <p class="hero__title--contact">Windows Cleaning</p>
        </header>
        <div class="hero__menu">
            <img src="{% static 'assets/window-dark.svg' %}" class="hero__image" alt="menu." srcset="">
        </div>
    </div>
{% endblock hero %}

{% block content %}
<h1 class="contact__header">Contact Form</h1>
{% if submitted %}
<p class="success">
    Your message was submited successfully. <br>Thank you
</p>
{% else %}
<form class="form" action="" method="post" novalidate>
    {{ form.as_ul }}
    <p class="submit-button"><input class="submit-input" type="submit" value="Submit"></p>
    {% csrf_token %}
</form>
{% endif %}
{% endblock content %}