{% extends 'pages/page.html' %}
{% load static %}

{% block title %}
Contact me
{% endblock title %}

{% block hero %}
<section class="hero__contact">
    <header class="hero__title"><p class="hero__title--contact">Windows Cleaning</p></header>
    <div class="hero__menu">
        <img src="{% static 'assets/windows.svg' %}" class="hero__image" alt="menu." srcset="">
    </div>    
</section>
{% endblock hero %}



{% block content %}
{% if submitted %}
<p class="form__success">
    Your message was submited successfully. <br>Thank you
</p>
{% else %}
<form class="form" action="" method="post" novalidate>
    <table class="table">
        {{ form.as_ul }}
        <tr class="table__row">
            <td>&nbsp;</td>
            <td><input class="table__submit" type="submit" value="Submit"></td>
        </tr>
    </table>
    {% csrf_token %}
</form>
{% endif %}
{% endblock content %}