{% extends "base.html" %}
{% load static %}

{% block title %}
{{ title }}
{% endblock title %}

{% block hero %}
<div class="header">
    <nav class="top-nav">
        <ul class="top-nav__list">
            <li class="top-nav__list--item">home</li>
            <li class="top-nav__list--item">text</li>
            <li class="top-nav__list--item">call</li>
            <li class="top-nav__list--item">email</li>
            <li class="top-nav__list--item">close</li>
        </ul>
    </nav>
    <div class="hero__menu">
        <img src="{% static 'assets/hero-menu.png' %}" class="hero__image" alt="menu." srcset="">
    </div>
</div>
<section class="hero">
    <div class="hero__homepage"></div>
        <header class="hero__title"><p class="hero__title--homepage">Windows Cleaning</p></header>
    
</section>
{% endblock hero %}



{% block sidenav %}
{% for page in page_list %}

{% endfor %}
{% endblock sidenav %}

{% block content %}
{% autoescape off %}
{{ content }}
{% endautoescape %}
<!-- 
<p class="page-update">
    Page last updated: {{ last_updated|date:'l, dS F Y' }}
</p> -->
{% endblock content %}