{% extends "base.html" %}
{% load static %}

{% block title %}
{{ title }}
{% endblock title %}
{% block hero %}
<section class="hero">
    <div class="hero__homepage"></div>
        <header class="hero__title"><p class="hero__title--homepage">Windows Cleaning</p></header>
        <div class="hero__menu">
            <img src="{% static 'assets/hero-menu.png' %}" class="hero__image" alt="menu." srcset="">
        </div>
    
</section>
{% endblock hero %}



{% block sidenav %}
{% for page in page_list %}

{% endfor %}
{% endblock sidenav %}

{% block content %}
{% autoescape off %}
{{ content }}
{% endautoescape %}
<!-- 
<p class="page-update">
    Page last updated: {{ last_updated|date:'l, dS F Y' }}
</p> -->
{% endblock content %}