{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <title>
        {% block title %}
        Document
        {% endblock title %}
    </title>
</head>

<body>
    <main class="main">
        <div class="header">
            <nav class="top-nav">
                <div class="top-nav__header top-nav__header--js">Windows Cleaning</div>
                <ul class="top-nav__list top-nav__list--js">
                    <a class="top-nav__link" href="/">
                        <li class="top-nav__list--item">home</li>
                    </a>

                    <a class="top-nav__link" href="/#about">
                        <li class="top-nav__list--item">about</li>
                    </a>

                    <a class="top-nav__link" href="/#services">
                        <li class="top-nav__list--item">services</li>
                    </a>
                    <a class="top-nav__link" href="/contact">
                        <li class="top-nav__list--item">contact</li>
                    </a>
                    <a class="top-nav__link" href="/quote">
                        <li class="top-nav__list--item">quote</li>
                    </a>
                </ul>
                <button class="burger">
                    <span class="burger__box">
                        <span class="burger__inner"></span>
                    </span>
                </button>
            </nav>
            

        </div>

        {% block hero %}
        <img src="{% static 'assets/close.svg' %}" alt="close top nav." srcset="">
        {% endblock hero %}
        <section class="details">
            <div class="details-wrapper">
                <ul class="details__list">
                    <a href="/">
                        <li class="details__item"><img src="{% static 'assets/home.svg' %}" alt="phone." srcset="">
                        </li>
                    </a>
                    <a href="tel:++44 77069 35402">
                        <li class="details__item"><img src="{% static 'assets/telephone.svg' %}" alt="phone." srcset="">
                        </li>
                    </a>
                    <a href="sms:++44 77069 35402+">
                        <li class="details__item"><img src="{% static 'assets/message.svg' %}" alt="text." srcset="">
                        </li>
                    </a>
                    <a href="mailto:olgierd2002@yahoo.com">
                        <li class="details__item"><img src="{% static 'assets/envelope.svg' %}" alt="email." srcset="">
                        </li>
                    </a>
                </ul>
            </div>
        </section>
        {% block content %}

        

        {% endblock content %}

        <footer class="footer">
            <ul class="footer__contact">
                <li class="footer__contact--phone"><img src="{% static 'assets/telephone-dark.svg' %}" alt="phone."
                        srcset=""><a class="footer__link" href="tel:++44 77069 35402">+44 77069 35402</a></li>
                <li class="footer__contact--email"><img src="{% static 'assets/envelope-dark.svg' %}" alt="email."
                        srcset=""><a class="footer__link" href="mailto:olgierd2002@yahoo.com">olgierd2002@yahoo.com</a>
                </li>
            </ul>
            <ul class="footer__list">
                <li class="footer__list--item"><a class="footer__link" href="#">privacy policy</a></li>
                <li class="footer__list--item"><a class="footer__link" href="/#about">about</a></li>
                <li class="footer__list--item"><a class="footer__link" href="/#services">services</a></li>
                <li class="footer__list--item"><a class="footer__link" href="/contact">contact</a></li>
                <li class="footer__list--item"><a class="footer__link" href="/quote">quote</a></li>
            </ul>

            <div class="footer__icons">
                <picture class="footer__window-icons">
            </div>
            <p class="footer__author">Made by <a class="footer__link" href="https://bartoszlewosz.github.io">© Bartosz
                    Lewosz</p></a>
        </footer>
    </main>
    <script src="{% static 'js/main.js' %}"></script>
</body>

</html>