.footer {
  background: #161715;
  background: linear-gradient(#161715 1%, #bbbbad 30%, #dededd 35%);
  padding: 2rem 1rem 0.5rem;
  color: #161715;
}

@media (min-width: 768px) {
  .footer {
    font-size: 1.75rem;
  }
}

.footer__contact {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 2rem 0 0;
  list-style-type: none;
  text-align: center;
  gap: 3rem;
}

.footer__contact--phone img {
  vertical-align: middle;
  padding: 0.5rem;
}

.footer__contact--email img {
  padding: 0.5rem;
  vertical-align: middle;
}

.footer__icons {
  background: url("../assets/footer-icons.svg") repeat-x center;
  height: 5rem;
  margin: 2rem;
}

@media (min-width: 768px) {
  .footer__icons {
    background: url("../assets/footer-icons.svg") repeat-x center/40%;
  }
}

.footer__window-icons {
  margin: 2rem;
}

.footer__list {
  display: flex;
  flex-direction: column;
  flex-flow: wrap;
  justify-content: space-around;
  list-style-type: none;
  max-width: 1024px;
  margin: 0 auto;
  padding: 0;
}

@media (min-width: 768px) {
  .footer__list {
    font-size: 1.25rem;
  }
}

.footer__list--item {
  align-items: center;
  padding: 1rem 1rem 0.5rem;
}

.footer__author {
  font-size: 0.7rem;
  margin: 1rem 0 0;
  padding: 0;
}
