.footer {
  background: #161715;
  background: linear-gradient(#161715 2%, #dededd 60%);
  padding: .5rem 1rem 1rem;
  color: #161715;
}

.footer__contact {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 2rem 0 0;
  list-style-type: none;
  text-align: center;
}

.footer__contact--phone img {
  vertical-align: middle;
  padding: .5rem;
}

.footer__contact--email img {
  padding: .5rem;
  vertical-align: middle;
}

.footer__icons {
  display: flex;
  justify-content: center;
}

.footer__window-icons {
  margin: 2rem;
}
