a {
  text-decoration: none;
  outline: none;
  padding: 2px;
}

a:link {
  color: inherit;
}

a:visited {
  color: #858A88;
}

a:focus {
  border: 1px solid #AF8108;
  border-radius: 4px;
}

a:hover {
  color: #C7BEBD;
  border-bottom: 2px solid #AF8108;
}

a:active {
  border-bottom: 1px solid #AF8108;
  border-radius: 4px;
}

.footer__link {
  color: #20211a;
}

.footer__link:visited {
  color: inherit;
}

.footer__link:hover {
  color: #484D35;
}
