.hero__quote {
  background-image: url("../assets/hero-quote.jpg");
  background-size: cover;
  resize: both;
  min-height: 20em;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 50px;
}

.hero__menu {
  grid-column-start: 3;
  justify-self: end;
  margin: 1rem;
}

.hero__title--contact {
  color: #484D35;
}
