.sections {
  max-width: 1024px;
  margin: 0 auto;
}

.sections__element {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem;
}

.sections__header {
  font-size: 1.5rem;
  text-align: center;
  margin: 2rem;
}

.sections__content {
  text-align: justify;
  padding: 1rem;
  line-height: 1.5rem;
}

@media (min-width: 768px) {
  .sections__content {
    font-weight: 300;
    font-size: 1.25rem;
    line-height: 2.25rem;
  }
}

.page-update {
  font-size: 0.7rem;
  color: #484D35;
  text-align: center;
}

.top-nav {
  display: none;
}

@media (min-width: 768px) {
  .top-nav {
    display: block;
    max-width: 1024px;
    margin: 0 auto;
  }
  .top-nav__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    grid-template-rows: 8rem;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}

.btn-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  background: green;
  position: absolute;
  right: 2rem;
  height: 128px;
  width: 128px;
}

.btn-menu__burger {
  width: 64px;
  height: 6px;
  background: #ffffff;
  border-radius: 4px;
}

.btn-menu__burger::before, .btn-menu__burger::after {
  position: absolute;
  content: '';
  width: 64px;
  height: 6px;
  background: #fff;
  border-radius: 4px;
  transition: all .5s ease-in-out;
}

.btn-menu__burger::before {
  transform: translateY(-16px);
}

.btn-menu__burger::after {
  transform: translateY(16px);
}
