.sections {
  max-width: 1024px;
  margin: 0 auto;
}

.sections__element {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem;
}

.sections__header {
  font-size: 1.5rem;
  text-align: center;
  margin: 2rem;
}

.sections__content {
  text-align: justify;
  padding: 1rem;
  line-height: 1.5rem;
}

@media (min-width: 768px) {
  .sections__content {
    font-weight: 300;
    font-size: 1.25rem;
    line-height: 2.25rem;
  }
}

.page-update {
  font-size: 0.7rem;
  color: #484D35;
  text-align: center;
}

.top-nav {
  display: none;
}

@media (min-width: 768px) {
  .top-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    max-width: 1024px;
    margin: 0 auto;
  }
  .top-nav__list {
    display: none;
  }
  .top-nav__list--active {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    grid-template-rows: 8rem;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 1rem;
  }
}

.burger {
  cursor: pointer;
  right: 2rem;
  border: 0;
  background: transparent;
  position: absolute;
}

.burger__box {
  height: 128px;
  width: 128px;
  display: inline-block;
  position: relative;
}

.burger__inner {
  width: 64px;
  height: 6px;
  background-color: #C7BEBD;
  border-radius: 4px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.burger__inner::before,
.burger__inner::after {
  width: 64px;
  height: 6px;
  background-color: #C7BEBD;
  border-radius: 4px;
  position: absolute;
  content: "";
  left: 0;
}

.burger__inner::before {
  top: 1rem;
}

.burger__inner::after {
  top: -1rem;
}

.burger--active .burger__inner {
  background: transparent;
}

.burger--active .burger__inner::before {
  transform: translate(16px, -16px) rotate(45deg);
}

.burger--active .burger__inner::after {
  transform: translate(16px, 16px) rotate(-45deg);
}
