@charset "UTF-8";
@media (min-width: 768px) {
  .sections__services--list {
    columns: 2 100px;
  }
}

.sections__services--list-item {
  padding: .5rem;
  line-height: 1.25rem;
}

.sections__services--list-item::marker {
  content: '⦿';
  color: #AF8108;
}
