// dark theme color set
$dark-backgrd: #20211a;
$background-dark: #161715;
$font-gray: #858A88;
$gold: #AF8108;
$green: #3D5D3D;
$icon-white: #C7BEBD;

// bright theme color set
$bright-backgrd: #EBEEE7;
$font-green: #484D35;
$font-black: #1B1B15;